<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>panda | 后台首页</title>
	<link rel="stylesheet" href="/public/css/bootstrap.min.css">
	<link rel="stylesheet" href="/public/css/font-awesome.min.css">
	<link rel="stylesheet" href="/public/css/admin.css">
	<link rel="stylesheet" href="/public/css/normalize.min.css">
</head>
<body>
	<!-- 顶部导航 -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				{#<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>#}
				<a class="navbar-brand" href="javascript:;">Panda</a>
			</div>

			<div class="collapse navbar-collapse" id="navbar">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/admin">首页</a></li>
					<li><a href="/admin/user">用户管理</a></li>
					<li>
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">分类管理 <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/admin/category">分类首页</a></li>
							<li><a href="/admin/category/add">分类添加</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">内容管理 <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/admin/content">内容首页</a></li>
							<li><a href="/admin/content/add">添加内容</a></li>
						</ul>
					</li>
					<li><a href="#">评论</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ userInfo.username }} <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/">前台首页</a></li>
							<li class="divider"></li>
							<li><a href="">退出</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- 顶部导航 -->
	<!-- 主体部分 -->
	<div class="container-fluid">
		{% block main %}{% endblock %}
	</div>
	<!-- 主体部分 -->
	<script src="/public/js/jquery.min.js"></script>
	<script src="/public/js/bootstrap.min.js"></script>
</body>
</html>