{% extends 'layout.html' %}

{% block content %}
{% for content in contents%}
<div class="card">
	<div class="card-content white">
		<span class="card-title center">{{content.title}}</span>
		<p class="articleInfo center">作者:<a href="jvascript:;">{{content.user.username}}</a> - 时间:<a href="jvascript:;">{{content.addTime|date('Y年m月d日 H:i:s',-8*60)}}</a> - 阅读:<a href="jvascript:;">{{content.views}}</a> - 评论:<a href="jvascript:;">{{content.comments.length}}</a>
		</p>
		<div>{{content.description}}</div>
	</div>
	<div class="card-action">
		<a href="/view?categoryid={{content.id}}">查看全文</a>
		<span class="new badge" data-badge-caption="{{content.category.name}}"></span>
	</div>
</div>
{% endfor %}
<div id="pager">
	<ul class="pagination">
		{% if page <=1 %}
		<li class="disabled left"><a href="javascript:;"><i class="material-icons">chevron_left</i></a></li>
		{% else %}
		<li class="waves-effect left"><a href="/?category={{category}}&page={{page-1}}"><i class="material-icons">chevron_left</i></a></li>
		{% endif %}
		{% if pages > 0 %}
		<li class="active middle"><a href="javascript:;">{{page}} / {{pages}}</a></li>
		{% endif %}
		{% if page >= pages %}
		<li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
		{% else %}
		<li class="waves-effect"><a href="/?category={{category}}&page={{page+1}}"><i class="material-icons">chevron_right</i></a></li>
		{% endif %}
	</ul>
</div>
{% endblock %}